.App {
  text-align: center;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  background-color: #49b9ff;
  color: #ffffff;
}

.App li {
background-color: #777777;
margin-bottom: 10px;
padding: 20px;
display: flex;
border: 2px solid #6272a4;
align-items: center;
color: black;
}

.App-header {
  background-color: #ffffff;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
